Package: enigma-sensor
Version: 1.8.1
Section: utils
Priority: optional
Architecture: amd64
Maintainer: Brian Conn <brian.conn@getenigma.ai>
Depends: zeek, tcpdump
Description: Enigma Go Sensor
 A service that runs the Enigma Go Sensor in continuous mode as a systemd service.
