[Unit]
Description=Enigma Sensor Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/enigma-sensor
Restart=on-failure
User=root

[Install]
WantedBy=multi-user.target